### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

.mypy_cache/
.pytest_cache/
scene_trajectory_benchmark/
**/__pycache__/
docker_history.txt
dist/
**.pkl
**.png
**.zip
eval_results/